In [155]:
import pandas as pd
import numpy as np
import sys
print (sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:27:36) [GCC 11.2.0]

In [ ]:
#Q1: Store Count per City
##Write Python code to count how many stores are in each city and print the result.
#Q2: Top Selling Product
#Find the product that has been sold in the highest total quantity across all stores.
#Q3: Total Sales Revenue per Store
#Using the prices dictionary and the sales DataFrame, calculate the total revenue for each store.
#Q4: Highest Revenue City
#Combine stores and your revenue results to determine which city earned the highest total revenue.
#Q5: Missing Data Check
#Introduce one NaN value into the sales DataFrame (for example in quantity) and write code to:
    #Detect missing values
    #Replace them with 0
#Q6: Add values in df
#Q7: Updates values in df
#Q8: Update NaN values:

In [ ]:
#Notes:
# For faster calculations install pandarallel

In [122]:
# Store Locations
stores = [
    {"store_id": 1, "city": "Montreal", "manager": "Alice"},
    {"store_id": 2, "city": "Vancouver", "manager": "Bob"},
    {"store_id": 3, "city": "Montreal", "manager": "Charlie"},
    {"store_id": 4, "city": "Montreal", "manager": "Charlie"},
]
# Product Prices
prices = {
    "Apples": 3.5,
    "Bananas": 2.0,
    "Milk": 4.5,
    "Bread": 3.0
}

# Sales Data
sales = pd.DataFrame({
    "store_id": [1, 2, 1, 3, 2, 1, 3, 3],
    "product": ["Apples", "Bananas", "Milk", "Apples", "Bread", "Bread", "Bananas", "Milk"],
    "quantity": [10, 20, 5, 15, 10, 12, 5, 8]
})

In [10]:
##Write Python code to count how many stores are in each city and print the result.
# 3ways:
#Tradtional way
print(stores)
store_count={}
for store in stores:
    store_count[store['city']] = store_count.get(store['city'],0)+1
print(store_count)
#Using Counter
from collections import Counter
print(list(store['city'] for store in stores))
city_counter = Counter(store['city'] for store in stores)
print('Using counter: ',dict(city_counter))
#Using Pandas
df = pd.DataFrame(stores)
print(df)
city_store = df["city"].value_counts()
print(city_store)

[{'store_id': 1, 'city': 'Toronto', 'manager': 'Alice'}, {'store_id': 2, 'city': 'Vancouver', 'manager': 'Bob'}, {'store_id': 3, 'city': 'Montreal', 'manager': 'Charlie'}, {'store_id': 2, 'city': 'Montreal', 'manager': 'Charlie'}]
{'Toronto': 1, 'Vancouver': 1, 'Montreal': 2}
['Toronto', 'Vancouver', 'Montreal', 'Montreal']
Using counter:  {'Toronto': 1, 'Vancouver': 1, 'Montreal': 2}
   store_id       city  manager
0         1    Toronto    Alice
1         2  Vancouver      Bob
2         3   Montreal  Charlie
3         2   Montreal  Charlie
city
Montreal     2
Toronto      1
Vancouver    1
Name: count, dtype: int64

In [110]:
#Top Selling Product
#Find the product that has been sold in the highest total quantity across all stores and export it into CSV and EXCEL file
sales = pd.DataFrame({
    "store_id": [1, 2, 1, 3, 2, 1, 3, 3],
    "product": ["Apples", "Bananas", "Milk", "Apples", "Bread", "Bread", "Bananas", "Milk"],
    "quantity": [10, 20, 5, 15, 10, 12, 5, 8]
})
print(sales)
print(type(sales))
#create series class
product_total= sales.groupby("product")["quantity"].sum()
print('Total sale: \n',product_total)

print('Type of product_total: ', type(product_total))
#access products: using index
print('index- All products in List: ',product_total.index)
#access quantity Using values:
print('All quantitiies in List: ', product_total.values)
#get highest sale items
print('Highest sale item: ',product_total.idxmax())
print('highest quantity: ', product_total.max())
# convert seires into df with column heading as Quatity
df = product_total.reset_index(name="Total Quantity")
print(df)
#Export to CSV and EXCEL
df.to_csv("TopSellingProduct.csv", index=False) #False no index as a first column ie 0,1,2 etc
df.to_excel("TopSellingProduct.xlsx", index=False)

   store_id  product  quantity
0         1   Apples        10
1         2  Bananas        20
2         1     Milk         5
3         3   Apples        15
4         2    Bread        10
5         1    Bread        12
6         3  Bananas         5
7         3     Milk         8
<class 'pandas.core.frame.DataFrame'>
Total sale:
 product
Apples     25
Bananas    25
Bread      22
Milk       13
Name: quantity, dtype: int64
Type of product_total:  <class 'pandas.core.series.Series'>
index- All products in List:  Index(['Apples', 'Bananas', 'Bread', 'Milk'], dtype='object', name='product')
All quantitiies in List:  [25 25 22 13]
Highest sale item:  Apples
highest quantity:  25
   product  Total Quantity
0   Apples              25
1  Bananas              25
2    Bread              22
3     Milk              13

In [63]:
#Q3: Total Sales Revenue per Store
#Using the prices dictionary and the sales DataFrame, calculate the total revenue for each store.
#steps: groupby, map and vectorized multiply
# Product Prices
prices = {"Apples": 3.5,"Bananas": 2.0,"Milk": 4.5,"Bread": 3.0}
sales = pd.DataFrame({
    "store_id": [1, 2, 1, 3, 2, 1, 3, 3],
    "product": ["Apples", "Bananas", "Milk", "Apples", "Bread", "Bread", "Bananas", "Milk"],
    "quantity": [10, 20, 5, 15, 10, 12, 5, 8]
})
# Sales Data
sales = pd.DataFrame({
    "store_id": [1, 2, 1, 3, 2, 1, 3, 3],
    "product": ["Apples", "Bananas", "Milk", "Apples", "Bread", "Bread", "Bananas", "Milk"],
    "quantity": [10, 20, 5, 15, 10, 12, 5, 8]
})
#sales['prices'] = sales['product'].map(prices)
print(sales)
total_sale = sales.groupby(["store_id","product"])["quantity"].sum()
total_rev  = total_sale * total_sale.index.get_level_values('product').map(prices)
print(total_rev)
total_rev_per_store = total_rev.groupby('store_id').sum()
print(total_rev_per_store)

   store_id  product  quantity
0         1   Apples        10
1         2  Bananas        20
2         1     Milk         5
3         3   Apples        15
4         2    Bread        10
5         1    Bread        12
6         3  Bananas         5
7         3     Milk         8
store_id  product
1         Apples     35.0
          Bread      36.0
          Milk       22.5
2         Bananas    40.0
          Bread      30.0
3         Apples     52.5
          Bananas    10.0
          Milk       36.0
dtype: float64
store_id
1    93.5
2    70.0
3    98.5
dtype: float64

In [116]:
#Q4: Highest Revenue City
#Combine stores and your revenue results to determine which city earned the highest total revenue.
#convert stores from list of dictionaries to DataFrame
#get total_rev_per_store from above example result
#add name "revenue" in it
#merged both dfs on store_id
#if stores has multiple stores ina single city and if each one has revenue then groupby and sum on revenue
#print df1
print('stores: \n',stores)
stores_df  = pd.DataFrame(stores)
print('Stroes Dataframe: \n',stores_df)
print('store_rev: ', total_rev_per_store)
df = total_rev_per_store.reset_index(name="revenue")
print('df after adding name: \n',df)
total_rev_per_city = pd.merge(df, stores_df, on ='store_id')
print('merged result: \n',total_rev_per_city)
df1 = total_rev_per_city.groupby('city')['revenue'].sum()
print('df1 if stores has multiple stores in single city: \n',df1)
print(total_rev_per_city[['city','revenue']])

stores:
 [{'store_id': 1, 'city': 'Montreal', 'manager': 'Alice'}, {'store_id': 2, 'city': 'Vancouver', 'manager': 'Bob'}, {'store_id': 3, 'city': 'Montreal', 'manager': 'Charlie'}, {'store_id': 4, 'city': 'Montreal', 'manager': 'Charlie'}]
Stroes Dataframe:
    store_id       city  manager
0         1   Montreal    Alice
1         2  Vancouver      Bob
2         3   Montreal  Charlie
3         4   Montreal  Charlie
store_rev:  store_id
1    93.5
2    70.0
3    98.5
dtype: float64
df after adding name:
    store_id  revenue
0         1     93.5
1         2     70.0
2         3     98.5
merged result:
    store_id  revenue       city  manager
0         1     93.5   Montreal    Alice
1         2     70.0  Vancouver      Bob
2         3     98.5   Montreal  Charlie
df1 if stores has multiple stores in single city:
 city
Montreal     192.0
Vancouver     70.0
Name: revenue, dtype: float64
        city  revenue
0   Montreal     93.5
1  Vancouver     70.0
2   Montreal     98.5

In [152]:
#Q5: Missing Data Check
#Introduce one NaN value into the sales DataFrame (for example in quantity) and write code to:
    #Detect missing values : using isna()
    #Replace them with 0
#added row with single column
#updated newly added store_id 
#filled NaN values with 0 and commit the chages

#print(sales)
new_row  = {'quantity':np.nan}
df = pd.concat([sales,pd.DataFrame([new_row])],ignore_index=True)
print(df)
print(df.isna())
print(df.isna().any())
df.at[8,'product']='Mango'
#df.loc[8,['product','store_id']]=['Morniga',1]

df.fillna(0,inplace=True)
print(df)

   store_id  product  quantity
0       1.0   Apples      10.0
1       2.0  Bananas      20.0
2       1.0     Milk       5.0
3       3.0   Apples      15.0
4       2.0    Bread      10.0
5       1.0    Bread      12.0
6       3.0  Bananas       5.0
7       3.0     Milk       8.0
8       NaN      NaN       NaN
   store_id  product  quantity
0     False    False     False
1     False    False     False
2     False    False     False
3     False    False     False
4     False    False     False
5     False    False     False
6     False    False     False
7     False    False     False
8      True     True      True
store_id    True
product     True
quantity    True
dtype: bool
   store_id  product  quantity
0       1.0   Apples      10.0
1       2.0  Bananas      20.0
2       1.0     Milk       5.0
3       3.0   Apples      15.0
4       2.0    Bread      10.0
5       1.0    Bread      12.0
6       3.0  Bananas       5.0
7       3.0     Milk       8.0
8       0.0    Mango       0.0

In [ ]:
#add data in df : 
#add row with single column
#add new column with single value
#add new column with different values
#add scalar value to specific cell
#Add values element-wise between columns

In [ ]:
#update Data in df
#Update specific cell by index and column
#Update using .loc[] for label-based indexing
#Update entire column
#Update using condition
#Update using .update() method
#Update multiple columns for specific rows
#Update multiple columns for multiple rows
#Update columns using a DataFrame

In [ ]:
#updated NaN values:
#Fill missing values with a specific value (fillna)
#Fill missing values with different values per column
#Forward fill (propagate last valid value forward)
#Backward fill (use next valid value to fill NaN)
#Replace missing values only in specific columns
#Update missing values with mean/median of the column