# Q1 Import Pandas

In [42]:
import pandas as pd

# Q2 Get the dataset from Kaggle. Save it on your local system.

https://www.kaggle.com/datasets/keyuripalav/gestational-diabetes-dataset-for-learning-pandas

In [44]:
#read excel
daibetic_df = pd.read_excel('/Users/maya/Downloads/archive/glucose_lowering_therapies.xlsx')
print(type(daibetic_df))

<class 'pandas.core.frame.DataFrame'>

In [45]:
#read csv
glucose_df = pd.read_csv('/Users/maya/Downloads/archive/gestational_diabetes_data.csv')
print(type(glucose_df))

<class 'pandas.core.frame.DataFrame'>

# Q3 Read files into Dataframes and name them appropriately.

In [47]:
#read excel
daibetic_df = pd.read_excel('/Users/maya/Downloads/archive/glucose_lowering_therapies.xlsx')
daibetic_df

     PatientID  Insulin  Metformin  Nutritional Counselling
0            1        1          1                        1
1            2        1          1                        1
2            3        1          1                        1
3            4        1          1                        1
4            5        1          1                        1
..         ...      ...        ...                      ...
100         84        1          1                        1
101         54        1          1                        1
102         71        0          0                        1
103         46        1          1                        1
104         45        1          1                        1

[105 rows x 4 columns]

In [48]:
#read csv
glucose_df = pd.read_csv('/Users/maya/Downloads/archive/gestational_diabetes_data.csv')
glucose_df

,PatientID,Date,Age,Pregnancies,Glucose,BloodPressure,SkinThickness,Weight,Height,DiabetesPedigreeFunction,Ethnicity,SmokingStatus,AlcoholConsumption,Outcome
0,1,2024-08-05 6:47:16,42,1,168.0,87,39,79.415724,1.524985,6.50,Hispanic,Current,Occasionally,1
1,2,2024-05-12 6:47:16,39,3,210.0,82,47,84.424995,1.527511,1.09,Other,Never,Occasionally,1
2,3,2024-08-09 6:47:16,29,2,145.0,70,29,72.909680,1.680732,0.72,Caucasian,Former,Never,0
3,4,2024-06-25 6:47:16,34,4,189.0,91,35,95.760686,1.666111,1.25,African American,Former,Occasionally,1
4,5,2024-06-16 6:47:16,27,3,206.0,92,36,82.117611,1.563818,2.46,Asian,Former,Never,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,54,2024-05-15 6:47:16,40,4,164.0,110,44,99.334218,1.558511,3.50,African American,Never,Occasionally,1
102,71,2024-06-08 6:47:16,32,2,141.0,67,32,70.897302,1.615261,1.00,African American,Former,Never,0
103,46,2024-07-27 6:47:16,29,3,175.0,120,35,83.858417,1.730158,1.63,African American,Never,Regularly,1
104,45,2024-07-28 6:47:16,40,4,169.0,135,33,90.047465,1.622292,3.98,Asian,Never,Never,1
105,45,2024-07-28 6:47:16,40,4,169.0,135,33,90.047465,1.622292,3.98,Asian,Never,Never,1

# Q4 Explore the Dataframes using various pandas functions. 

Note: Add new cells (if needed) to the Jupyter Notebook for answering this question

In [50]:
#print top 3 row of the dataframe
glucose_df.head(3)

,PatientID,Date,Age,Pregnancies,Glucose,BloodPressure,SkinThickness,Weight,Height,DiabetesPedigreeFunction,Ethnicity,SmokingStatus,AlcoholConsumption,Outcome
0,1,2024-08-05 6:47:16,42,1,168.0,87,39,79.415724,1.524985,6.50,Hispanic,Current,Occasionally,1
1,2,2024-05-12 6:47:16,39,3,210.0,82,47,84.424995,1.527511,1.09,Other,Never,Occasionally,1
2,3,2024-08-09 6:47:16,29,2,145.0,70,29,72.909680,1.680732,0.72,Caucasian,Former,Never,0

In [51]:
#print last 3 rows
glucose_df.tail(3)

,PatientID,Date,Age,Pregnancies,Glucose,BloodPressure,SkinThickness,Weight,Height,DiabetesPedigreeFunction,Ethnicity,SmokingStatus,AlcoholConsumption,Outcome
103,46,2024-07-27 6:47:16,29,3,175.0,120,35,83.858417,1.730158,1.63,African American,Never,Regularly,1
104,45,2024-07-28 6:47:16,40,4,169.0,135,33,90.047465,1.622292,3.98,Asian,Never,Never,1
105,45,2024-07-28 6:47:16,40,4,169.0,135,33,90.047465,1.622292,3.98,Asian,Never,Never,1

In [ ]:
#meta data of the dataframe
daibetic_df.info()

In [ ]:
#print the rows by columns
daibetic_df.shape

# Q5 Check for duplicates  in both dataframes. Drop duplicates if any.

In [ ]:
daibetic_df[daibetic_df.duplicated()]

In [15]:
glucose_df.shape

(100, 14)

In [21]:
daibetic_df.shape

(100, 4)

In [ ]:
glucose_df[glucose_df.duplicated()]

In [ ]:
glucose_df.drop_duplicates(inplace=True)

In [67]:
glucose_df.shape
daibetic_df.drop_duplicates(inplace=True)

In [ ]:
daibetic_df[daibetic_df['PatientID'].duplicated()]

In [ ]:
glucose_df[glucose_df['PatientID'].duplicated()]

In [13]:
glucose_df = glucose_df.drop_duplicates(subset='PatientID',keep='first')

In [19]:
daibetic_df = daibetic_df.drop_duplicates(subset='PatientID',keep='first')

# Q6 Check for missing data in both dataframes. Treat missing data.

In [23]:
daibetic_df.isna().sum()

PatientID                  0
Insulin                    0
Metformin                  0
Nutritional Counselling    0
dtype: int64

In [25]:
glucose_df.isna().sum()

PatientID                   0
Date                        0
Age                         0
Pregnancies                 0
Glucose                     9
BloodPressure               0
SkinThickness               0
Weight                      0
Height                      0
DiabetesPedigreeFunction    0
Ethnicity                   0
SmokingStatus               0
AlcoholConsumption          0
Outcome                     0
dtype: int64

In [37]:
glucose_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   PatientID                 100 non-null    int64
 1   Date                      100 non-null    object
 2   Age                       100 non-null    int64
 3   Pregnancies               100 non-null    int64
 4   Glucose                   100 non-null    float64
 5   BloodPressure             100 non-null    int64
 6   SkinThickness             100 non-null    int64
 7   Weight                    100 non-null    float64
 8   Height                    100 non-null    float64
 9   DiabetesPedigreeFunction  100 non-null    float64
 10  Ethnicity                 100 non-null    object
 11  SmokingStatus             100 non-null    object
 12  AlcoholConsumption        100 non-null    object
 13  Outcome                   100 non-null    int64
dtypes: float64(4), int64(6), object(4)
memory usage: 11.7+ KB

In [35]:
glucose_df.loc[glucose_df['Glucose'].isna()]

Empty DataFrame
Columns: [PatientID, Date, Age, Pregnancies, Glucose, BloodPressure, SkinThickness, Weight, Height, DiabetesPedigreeFunction, Ethnicity, SmokingStatus, AlcoholConsumption, Outcome]
Index: []

In [31]:
glucose_df['Glucose'].mean()

170.47252747252747

In [33]:
glucose_df['Glucose'] = glucose_df['Glucose'].fillna(glucose_df['Glucose'].mean())