In [1]:
#Create two variables a and b with values 10 and 20, then print their sum.
a = 10
b = 20
print( a + b)

30

In [2]:
#Assign the string "Hello" to a variable and print it 3 times.
message = "hello"
print(message * 3)

hellohellohello

In [3]:
# Swap the values of two variables without using a third variable.
a = 10
b = 20
c = a
a = b
b = c
print("a =", a)
print("b =", b)

a = 20
b = 10

In [4]:
# Given a variable x = 5, convert it to a string and concatenate it with " apples".
x = 5
result = str(x) + " apples"
print(result)

5 apples

In [5]:
# Check if a variable num = 7.5 is a float or an integer.
num = 7.5
if type(num) == float:
    print("num is a float")
elif type(num) == int:
    print("num is an integer")

num is a float

In [6]:
#* Create a list and a tuple both containing the same numbers and print their types.
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
print("Type of my_list:", type(my_list))
print("Type of my_tuple:", type(my_tuple))

Type of my_list: <class 'list'>
Type of my_tuple: <class 'tuple'>

In [7]:
#If-Else**
# Write a program that takes a number and prints whether it is positive, negative, or zero.

number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  10

The number is positive.

In [4]:
#Given a variable age, print "Eligible" if age is 18 or more; otherwise print "Not eligible."
age = float(input("Enter age: "))

if age >= 18:
    print("Eligible")
else:
    print("Not Eligible")

Enter age:  17

Not Eligible

In [5]:
#Check if a number is divisible by both 3 and 5 and print an appropriate message.
num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print("The number is divisible by both 3 and 5.")
else:
    print("The number is NOT divisible by both 3 and 5.")

Enter a number:  18

The number is NOT divisible by both 3 and 5.

In [7]:

#Strings**
#Given a string "python", print the first and last characters.
string = "python"
print(string[0], string[-1])

p n

In [11]:
#Count how many times the letter 'a' appears in a given string.
user_string = input("Enter a string: ")
count = 0
for c in user_string:
    if c == 'a':
        count += 1

print("Total a count", count)

Enter a string:  sap

Total a count 1

In [12]:
#Reverse a string without using built-in reverse functions.
text = input("Enter a string: ")
reversed_text = ""

for char in text:
    reversed_text = char + reversed_text 

print("Reversed string:", reversed_text)

Enter a string:  happy

Reversed string: yppah

In [1]:
#Tuples**
#Create a tuple with numbers (1, 2, 3, 4, 5) and print the element at index 2.

numbers = (1, 2, 3, 4, 5)
print(numbers[2])

3

In [2]:
#Try changing a value inside a tuple and observe what error occurs.
numbers = (1, 2, 3, 4, 5)
numbers[2] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Concatenate two tuples (1, 2) and (3, 4) and print the result.

In [3]:
# Concatenate two tuples (1, 2) and (3, 4) and print the result.
tuple1 = (1,2)
tuple2 = (3,4)
print ( tuple1 + tuple2)

(1, 2, 3, 4)

In [5]:
#**Lists**
#* Create a list of numbers and append a new number to it.
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [6]:
# Remove the second element from a list and print the updated list.

my_list = [1,2,3,4,5]
del my_list[1]
print(my_list)

[1, 3, 4, 5]

In [7]:
# Unsorted list
numbers = [8, 3, 1, 5, 9, 2]
numbers.sort()

print("Sorted list:", numbers)

Sorted list: [1, 2, 3, 5, 8, 9]

In [9]:
#**Sets**
#* Create two sets and print their union and intersection.

set_a = {2, 4, 6, 8}
set_b = {6, 8, 10, 12}

union_set = set_a | set_b
print("Union:", union_set)

intersection_set = set_a & set_b
print("Intersection:", intersection_set)

Union: {2, 4, 6, 8, 10, 12}
Intersection: {8, 6}

In [1]:
#* Given a list with duplicates, convert it to a set to remove duplicates.
# Given list with duplicates
my_list = [1, 2, 3, 2, 4, 1, 5, 3]

unique_set = set(my_list)

print("Original list:", my_list)
print("Unique set:", unique_set)

Original list: [1, 2, 3, 2, 4, 1, 5, 3]
Unique set: {1, 2, 3, 4, 5}

In [2]:
#* Check if an element exists in a set.
# Create a set
my_set = {1, 2, 3, 4, 5}
if 3 in my_set:
    print("3 exists in the set")
else:
    print("3 does not exist in the set")

3 exists in the set

In [6]:
#**Slicing**
#* Given a list `[10,rint the elements from index 1 to 3.
numbers = [1, 2, 3, 4, 5, 6]
print(numbers[1:4])

[2, 3, 4]

In [7]:
#* Slice a string to get its first three characters.
string = "happy"
print(string[0:3])

hap

In [9]:
#* Use slicing to get every second element from a list.
numbers = [1,2,3,4,5]
print(numbers[0::2])

[1, 3, 5]

In [10]:
#*List Methods**
# Use append() to add an element to a list.
numbers = [1, 2, 3, 4, 5]

numbers.append(6)

print(numbers)

[1, 2, 3, 4, 5, 6]

In [11]:
#Use pop() to remove the last element from a list and print it.
numbers = [1,2,3,4,5]
numbers.pop(-1)
print(numbers)

[1, 2, 3, 4]

In [12]:
#Use extend() to add multiple elements from another list.
numbers = [1, 2, 3, 4, 5]
new_numbers = [6, 7, 8]
numbers.extend(new_numbers)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
#Operators**
#Write a program to calculate the remainder when dividing two numbers.

num = 6
result = num ** 3

print(f"{num} raised to the power of 3 is {result}")

6 raised to the power of 3 is 216

In [15]:
#Use logical operators to check if a number is between 10 and 20.
number = int(input("Enter a number: "))
if 10 <= number <= 20:
    print(f"{number} is between 10 and 20.")
else:
    print(f"{number} is NOT between 10 and 20.")

Enter a number:  10

10 is between 10 and 20.

In [17]:
# Write a program to raise a number to the power of 3.
number = int(input("Enter number: "))
print(number ** 3)

Enter number:  2

8