**Variables**
* Create two variables a and b with values 10 and 20, then print their sum.

* Assign the string "Hello" to a variable and print it 3 times.

* Swap the values of two variables without using a third variable.

**Data Types**
* Given a variable x = 5, convert it to a string and concatenate it with " apples".

* Check if a variable num = 7.5 is a float or an integer.

* Create a list and a tuple both containing the same numbers and print their types.

**If-Else**
* Write a program that takes a number and prints whether it is positive, negative, or zero.

* Given a variable age, print "Eligible" if age is 18 or more; otherwise print "Not eligible."

* Check if a number is divisible by both 3 and 5 and print an appropriate message.

**Strings**
* Given a string "python", print the first and last characters.

* Count how many times the letter 'a' appears in a given string.

* Reverse a string without using built-in reverse functions.

**Tuples**
* Create a tuple with numbers (1, 2, 3, 4, 5) and print the element at index 2.

* Try changing a value inside a tuple and observe what error occurs.

* Concatenate two tuples (1, 2) and (3, 4) and print the result.

**Lists**
* Create a list of numbers and append a new number to it.

* Remove the second element from a list and print the updated list.

* Sort a list of unsorted numbers.

**Sets**
* Create two sets and print their union and intersection.

* Given a list with duplicates, convert it to a set to remove duplicates.

* Check if an element exists in a set.

**Slicing**
* Given a list `[10,rint the elements from index 1 to 3.

* Slice a string to get its first three characters.

* Use slicing to get every second element from a list.

**List Methods**
* Use append() to add an element to a list.

* Use pop() to remove the last element from a list and print it.

* Use extend() to add multiple elements from another list.

**Operators**
* Write a program to calculate the remainder when dividing two numbers.

* Use logical operators to check if a number is between 10 and 20.

* Write a program to raise a number to the power of 3.

**Variables**

In [21]:
a = 10 
b = 20
sum = a + b
print(sum)

30

In [31]:
name = "Hello" + " "
print(name  * 3)

Hello Hello Hello

In [45]:
a = 5
b = 10
a = a + b
b = a - b
a = a - b
print('a is ' + str(a))
print('b is ' + str(b))

a is 10
b is 5

**Data Types**

In [55]:
x = 5
print(str(x)+" " +"apples")

5 apples

In [57]:
num = 7.5
type(num)

float

In [71]:
my_list = [5,10,15,20]
my_tuple = (5,10,15,20)
print(type(my_list))
print(my_list)
print(type(my_tuple))
print(my_tuple)

<class 'list'>
[5, 10, 15, 20]
<class 'tuple'>
(5, 10, 15, 20)

**If-Else**

In [89]:
num = int(input("enter any number"))
if num==0:
    print("Number is zero")
elif num>0:
    print("Number is positive")
else:
    print("Number is negative")

enter any number 0

Number is zero

In [99]:
age = int(input("enter any age"))
if age >=18:
    print("Eligible")
else:
    print("Not eligible")

enter any age -20

Not eligible

In [118]:
number = int(input("enter any number"))
if number%3 == 0 and number%5==0:
    print("number is divisible by 3 and 5")
elif number%3==0:
    print("number is divisible by 3")
elif number%5==0:
    print("number is divisible by 5")
else:
    print("not divisble by 3 or 5")

enter any number 2

not divisble by 3 or 5

**Strings**

In [136]:
text = "python"
print(text[0])
print(text[5])

p
n

In [140]:
word = "banana"
print('a' in word)
print(word.count('a'))

True
3

In [172]:
my_word = "mathu"
reverse = ""
for char in my_word:
    reverse = char + reverse
print(reverse)

# reverse_inslicing = my_word[::-1]
# print(reverse_inslicing)

# for i in reversed(my_word):
#     print(i, end = '')

uhtam

**Tuples**

In [177]:
my_tuple = (1,2,3,4,5)
print(my_tuple[2])

3

In [181]:
my_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [187]:
tuple_1 = (1,2)
tuple_2 = (3,4)
print(tuple_1 + tuple_2)

(1, 2, 3, 4)

**Lists**

In [210]:
my_list1 = [1,8,3,4,15,6,71,8,9]
print(my_list1)
my_list1.append(10)
print(my_list1)
my_list1.remove(8)
print(my_list1)
my_list1.sort()
print(my_list1)

[1, 8, 3, 4, 15, 6, 71, 8, 9]
[1, 8, 3, 4, 15, 6, 71, 8, 9, 10]
[1, 3, 4, 15, 6, 71, 8, 9, 10]
[1, 3, 4, 6, 8, 9, 10, 15, 71]

**Sets**

In [235]:
my_set1 = {1,2,3}
my_set2 = {3,4,5}
print(my_set1.union(my_set2))
print(my_set1.intersection(my_set2))

{1, 2, 3, 4, 5}
{3}

In [255]:
list11 = [1,2,3,3,3,4,2,1]
set1 = set(list11)
print(set1)

{1, 2, 3, 4}

In [277]:
myset = {5,10,25,15,30,30,500}
item = 18
if item in myset:
    print(f"{item} is in the set")
else:
    print(f"{item} is not in the set")

18 is not in the set

**Slicing**

In [279]:
list12 = [5,10,15,25,5,10]
print(list12[1:3])

[10, 15]

In [281]:
word = "mathumathi"
print(word[0:3])

mat

In [295]:
list31 = [2,3,4,6,8,9,10,12]

print(list31[1::2])

[3, 6, 9, 12]

**List Methods**

In [309]:
list41 = ['a','b','c','d']
list41.append('e')
print(list41)

['a', 'b', 'c', 'd', 'e']

In [311]:
list41.pop()
print(list41)

['a', 'b', 'c', 'd']

In [317]:
list42 = ['z','y','x']
list41.extend(list42)
print(list41)
#append - adds whole list as single element like [a,b,c, [z,y,x] ]
#extend - adds one by one like [a,b,c,z,y,x]

['a', 'b', 'c', 'd', 'z', 'y', 'x', ['z', 'y', 'x'], 'z', 'y', 'x']

**Operators**

In [331]:
num1 = int(input("enter any first number"))
num2 = int(input("enter any second number"))
if(num2 !=0):
    print(num1%num2)
else:
    print("cant divide")

enter any first number 6
enter any second number 4

2

In [343]:
value = int(input("enter any number"))
if(value >=10 and value <=20):
    print("true")
else:
    print("number is not between 10 and 20")

enter any number 21

number is not between 10 and 20

In [349]:
my_value = int(input("enter any number"))
print(my_value**3)

enter any number 5

125